:root {
  --accent-color: #fff;
  --gradient-color: #FBFBFB;
}

.sidebar {
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background-color: #fff;
  transition: all .5s ease;
}

.sidebar header {
  font-size: 28px;
  color: #353535;
  line-height: 70px;
  text-align: center;
  background-color: #fff;
  user-select: none;
  font-family: 'Lato', sans-serif;
}

.sidebar a {
  display: block;
  height: 65px;
  width: 100%;
  color: #353535;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: 'Lato', sans-serif;
  transition: all .5s ease;
}

.sidebar a.active,
.sidebar a:hover {
  border-left: 5px solid var(--accent-color);
  color: #fff;
  background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
}

.sidebar a i {
  font-size: 23px;
  margin-right: 16px;
}

.sidebar a span {
  letter-spacing: 1px;
  text-transform: uppercase;
}

#check {
  display: none;
}

.sidebar-btn {
  position: absolute;
  left: 0px;
  cursor: pointer;
  color: #d6adff;
  border-radius: 5px;
  font-size: 29px;
  background-color: #e8d1ff;
  height: 45px;
  width: 45px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  line-height: 45px;
  transition: all .5s ease;
  outline: none;
  border: 0px;
}

label #cancel {
  opacity: 0;
  visibility: hidden;
}

.sidebar.sidebar-active {
  left: 0;
}

.sidebar-btn-active {
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}

.sidebar>a.active,
.sidebar>a:hover:nth-child(even) {
  --accent-color: #52d6f4;
  --gradient-color: #c1b1f7;
}

.sidebar a.active,
.sidebar>a:hover:nth-child(odd) {
  --accent-color: #c1b1f7;
  --gradient-color: #A890FE;
}

h2 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #a759f5;
}

.sidebar p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 30px;
  color: #d6adff;
  margin: 0;
}